body {
  background-color: lightgray;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  margin: 2rem 0 ;
}

.container {
  background-color: white;
  padding:  1.2rem;
  width: 90vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: 0.5rem;
}

.form-control {
  display: flex;
  justify-content: center;
}

.text-input {
  padding: 0.25rem;
  font-size: 1.2rem;
  background-color: lightcyan;
  flex: 1 0 auto;
  border: 1px solid grey;
}

.submit-btn {
  background-color: orange;
  color: white;
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  border: transparent;
  margin-left: 5px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
  padding: 0.2rem 2rem;
  background-color: #FFFFE8 ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.alert {
  margin-bottom: 1.5rem;
  height: 1.25rem;
  padding: 0 1rem 0.25rem 1rem;
  border-radius: 0.25rem;
}

.alert.error {
  background-color: red;
  color: white;
}

.alert.success {
  background-color: greenyellow;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 1rem;
  cursor: pointer;
}